<div>
  <div class="col-lg-6">
      <div>
          <h3>Deine Eingabe bitte:</h3>
      </div>
    <textarea [(ngModel)]="chatMessage" (keyup.enter)="addMessage(chatMessage)" class="form-control" rows="3" placeholder="type here"></textarea>
    <button (click)="addMessage(chatMessage)" [disabled]="!chatMessage" class="btn btn-primary">Abschicken</button>
  </div>  
</div>
<div class="col-lg-6">
  <div>
    <h3>
      Das hast Du eingegeben:
    </h3>
  </div>
  <div>
    <p>
      {{chatMessage}}
    </p>



  </div>
</div>
  