.btn-primary {
    background-color: #00802F;
    border-color: #00802F;
    font-size: 18px;
    margin-top: 10px;
}

.btn-primary:active {
    background-color: #00802F;
    border-color: #00802F;
    font-size: 18px;
}

.btn-primary:disabled {
    background-color: #00802F;
    border-color: #00802F;
    font-size: 18px;
}

.form-control {
    font-size: 18px;

}