footer {
    background-color: #00802F;
 }

 h1 {
     font-size: 2vw;
 }

 p {
     color: #FFF;
     text-align: center;
 }

 #gruen {
     background: #00802F;
 }

 #schwarz {
     background: #000;
 }

